<%- include('../partials/header') %>

    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Bookings page</title>
</head>
<body>

  <%- include('../partials/navbar') %>
<div class="head-name">
  <h2>Thank you for your booking, <%= user.name %> <br>
     Administartor will contact you shortly. </h2> 
</div>
     
  <!-- Cards bootstrap template -->
     <h3>You have booked: </h3>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="<%= tour.image %> " alt="Tour image">
            
            <div class="card-body">
              <h5 class="card-title"><%= tour.name %></h5>
            </div>
            
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><b>Where: </b><%= tour.location %> </li>
                <li class="list-group-item"><b>When: </b><%= newBooking.date %> </li>
                <li class="list-group-item"><b>Number of people:</b><%= newBooking.people %> </li>
              </ul>
           
          </div>
   

  <%- include('../partials/footer') %>