<%- include('../partials/header') %>
<link rel='stylesheet' href='/stylesheets/style.css'/>
<%- include('../partials/navbar') %>

    <title>Booking info</title>
</head>
<body>
  <h3>Booking information for <a href="/tours/<%= tour._id %>"><%= tour.name %></a> </h3>
  
  <%= user.name %> 
  <%= tour.booking.phoneNumber %> 
  <%= user.email %> 
    <!-- Cards bootstrap template -->
    <% tour.booking.forEach(b =>{ %> 
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">People attending</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= b.date %> </td>
            <td><%= b.people %></td>
          </tr>
        </tbody>
      </table>
          
    <% }) %> 

<%- include('../partials/footer') %>